<a href="https://colab.research.google.com/github/Luluscript/exos-python/blob/main/FR_Python_1_1_Variables_%26_Built_in_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type

1. Dans la cellule de code ci-dessous, quel est, pour chaque cellule, le type de l'objet x ?  
`indice`: vous pouvez utiliser `type(x)` pour le révéler.

1.1

In [2]:
x = 5
type(x)

int

1.2

In [3]:
x = "Hello World"
type(x)

str

1.3

In [4]:
x = 2.5
type(x)

float

1.4

In [5]:
x = ["mintcream", "burlywood", "salmon"]
type(x)

list

1.5

In [6]:
x = ("mintcream", "burlywood", "salmon")
type(x)

tuple

1.6

In [7]:
x = {"name": "Jules César", "Job": "Musician", "age": 55}
type(x)

dict

1.7

In [8]:
x = True
type(x)

bool

2. Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.  
C'est parti !

2.1 Convertissez x en float.

In [16]:

x = 5
float(5)

5.0

2.2 Convertissez x en int

In [17]:
x = 5.4
int(5.4)

5

2.3 Convertissez x en int

In [18]:
x = 5.6
int(5.6)

5

2.4 Que pouvez-vous remarquer ?

Réponse: Pour la comversion en float un point est ajoute. Pour la conversion en int le chiffre est tronque et non arrondis a la valeur la plus proche.

2.5 Trouvez le moyen d'arrondir x.

In [23]:
x = 5.6
round(x)

6

2.6 Après avoir arrondi x, est-ce que x est toujours un `float` ?  
Réponse: Oui car round ne modifie pas le type.

2.7 Ci-dessous, est-ce que x est un `int` ?

In [19]:
x = 6.0
type(x)

float

2.8 Arrondissez x avec 3 valeurs décimales.

In [24]:
x = 3.14159265359
round(x, 3)

3.142

# Built-in Function

3.1 Utilisez une [built-in function](https://docs.python.org/3/library/functions.html) pour compter le nombre de lettres dans l'objet de type `string` suivant:

In [28]:
x = "Hello World"
len(x)

11

3.2 Utilisez une built-in function pour compter le nombre d'éléments dans l'objet de type `list` suivant:

In [30]:
x = ["non", "pas", 1, "ni", 2, "ni", 3, "mais", 7.2132]
len(x)

9

3.3 Utilisez une built-in function sur une des deux variables pour que `resultat`  contienne une valeur positive.

In [33]:
var_1 = 4
var_2 = -5

resultat = abs(var_1 + var_2)
print(resultat)

1

3.4 Utilisez une built-in function pour renvoyer la valeur minimum de la `list` suivante:

In [34]:
a_list = [3.2, 41, 2, 23, 7]
min(a_list)

2

3.5 Utilisez une built-in function pour renvoyer la somme des valeurs de la `list` suivante:

In [35]:
a_list = [3.2, 41, 2, 23, 7]
sum(a_list)

76.2